cmu.nodered
[{"id":"62431686.9dbce8","type":"inject","z":"69a1088f.965ef8","name":"EverySec","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":101,"y":89,"wires":[["f896ee01.07691","2699ba17.f61396"]]},{"id":"90296e7.f6fd69","type":"debug","z":"69a1088f.965ef8","name":"","active":false,"console":"false","complete":"false","x":1120,"y":391,"wires":[]},{"id":"f896ee01.07691","type":"exec","z":"69a1088f.965ef8","command":"/usr/bin/vcgencmd measure_temp ","addpay":false,"append":"","useSpawn":"","timer":"","name":"getCPUTemp","x":335,"y":88.5,"wires":[["a3ee3a12.63f6a8"],[],[]]},{"id":"a3ee3a12.63f6a8","type":"function","z":"69a1088f.965ef8","name":"CPU.Temp","func":"str = msg.payload;\nmsg.payload = str.substring(5,9);\nglobal.set(\"piTemp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":501.5,"y":142,"wires":[["7ad1c641.433238","57b5e688.6a9c28","3693252a.6981ca","2a3128d2.ff0c98"]]},{"id":"7ad1c641.433238","type":"ui_gauge","z":"69a1088f.965ef8","name":"CPU TEMP","group":"62a7ca2e.9d5834","order":1,"width":"3","height":"2","gtype":"gage","title":"CPU Temp","label":"°C","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"70","x":683.5,"y":159,"wires":[]},{"id":"7e74d468.d947bc","type":"e-mail","z":"69a1088f.965ef8","server":"smtp.mail.yahoo.com","port":"465","secure":false,"name":"to.mail@gmail.com","dname":"yahooTogmail","x":1567.5,"y":248,"wires":[]},{"id":"57b5e688.6a9c28","type":"switch","z":"69a1088f.965ef8","name":"Email Condition ","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"gt","v":"75","vt":"num"},{"t":"gte","v":"80","vt":"str"}],"checkall":"false","outputs":3,"x":666.5,"y":230,"wires":[["2b9c120f.90e4ce"],["ee52b6.66da1d48"],["ee52b6.66da1d48","301243f3.4a770c"]]},{"id":"2699ba17.f61396","type":"exec","z":"69a1088f.965ef8","command":"vcgencmd measure_volts core","addpay":false,"append":"","useSpawn":"","timer":"","name":"getCPUVolts","x":311.5,"y":282.5,"wires":[["7a57bf66.168ee"],[],[]]},{"id":"7a57bf66.168ee","type":"function","z":"69a1088f.965ef8","name":"CPU.Volts","func":"str = msg.payload;\nmsg.payload = str.substring(5,9);\nglobal.set(\"piVolts\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":473.5,"y":346,"wires":[["583567fe.6e8048","3693252a.6981ca"]]},{"id":"583567fe.6e8048","type":"ui_gauge","z":"69a1088f.965ef8","name":"CPU Volts","group":"62a7ca2e.9d5834","order":5,"width":"3","height":"2","gtype":"gage","title":"Volts","label":"v","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":671.5,"y":345,"wires":[]},{"id":"5e28d5df.a8397c","type":"ping","z":"69a1088f.965ef8","name":"Check NVR 5 sec","host":"x.x.x.x","timer":"5","x":85,"y":425,"wires":[["3c0554f7.dd7dfc"]]},{"id":"9b831e8f.a6ef","type":"switch","z":"69a1088f.965ef8","name":"NVR UP?","property":"stat","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"false","outputs":2,"x":373.5,"y":394,"wires":[["9de69851.bbf0a8"],["260e4863.8ad108"]]},{"id":"a03f708.c16589","type":"switch","z":"69a1088f.965ef8","name":"Router UP?","property":"stat","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"false","outputs":2,"x":349.5,"y":514,"wires":[["9de69851.bbf0a8"],["260e4863.8ad108"]]},{"id":"396d57a4.8aa078","type":"ping","z":"69a1088f.965ef8","name":"Check Router 5 sec","host":"x.x.x.x","timer":"5","x":95,"y":514,"wires":[["dcfec5c1.0471e8"]]},{"id":"3e72b94f.09ef86","type":"ping","z":"69a1088f.965ef8","name":"Check Modem 5 sec","host":"x.x.x.x","timer":"5","x":95,"y":613,"wires":[["275fa389.68148c"]]},{"id":"6fa68bf2.d48bb4","type":"switch","z":"69a1088f.965ef8","name":"Modem UP?","property":"stat","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"false","outputs":2,"x":345.5,"y":612,"wires":[["9de69851.bbf0a8"],["260e4863.8ad108"]]},{"id":"b79a43e0.db314","type":"ping","z":"69a1088f.965ef8","name":"Check Internet 1 min","host":"www.google.com","timer":"60","x":95,"y":720,"wires":[["2b3ed02a.ef7a8"]]},{"id":"baaed33.967513","type":"switch","z":"69a1088f.965ef8","name":"Internt UP?","property":"stat","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"false","outputs":2,"x":435.5,"y":725,"wires":[["a56e0aa2.0e63c8","c624349b.558c48","3e64f282.bc7e8e"],["c624349b.558c48","76942a.10b72bd8"]]},{"id":"a56e0aa2.0e63c8","type":"function","z":"69a1088f.965ef8","name":"Log Internet disconnection start time","func":"// only  if inetAlreadyChecked== false, \n    // log the disconnection start time \n    // set inetAlredyChecked=true\n     \nvar dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\nvar m=\"Internet DOWN,\"+ts;\nmsg.logMsg=m;\n\nvar alreadyDown=global.get(\"alreadyDown\")||\"NO\";\n//var alreadyUp=global.get(\"alreadyUp\");\n\nif(alreadyDown==\"YES\"){\n    msg.payload=\"NO\";\n}else{\n    msg.payload=\"YES\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":719.5,"y":705,"wires":[["b2a90a68.846b18"]]},{"id":"c624349b.558c48","type":"ui_chart","z":"69a1088f.965ef8","name":"","group":"b71041eb.16b14","order":0,"width":"5","height":"4","label":"Ping","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":671.5,"y":761,"wires":[[],[]]},{"id":"c2239517.551ef8","type":"inject","z":"69a1088f.965ef8","name":"Check Mem 5 sec","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":114.5,"y":913,"wires":[["cf7e89a1.62c4c8","c89b1e64.a84f4","94fe74be.d88ac8"]]},{"id":"4f3eec1e.3ad8d4","type":"ui_text","z":"69a1088f.965ef8","group":"62a7ca2e.9d5834","order":2,"width":"4","height":"1","name":"Used memory","label":"Used Memory","format":"{{msg.payload}}","layout":"row-spread","x":566.5,"y":891,"wires":[]},{"id":"cf7e89a1.62c4c8","type":"exec","z":"69a1088f.965ef8","command":"free -t -m | grep Total | awk '{print $3}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Used Memory","x":365.5,"y":865.5,"wires":[["4f3eec1e.3ad8d4"],[],[]]},{"id":"c89b1e64.a84f4","type":"exec","z":"69a1088f.965ef8","command":"free -t -m | grep Total | awk '{print $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":362.5,"y":937.5,"wires":[["f7af59d5.211228"],[],[]]},{"id":"94fe74be.d88ac8","type":"exec","z":"69a1088f.965ef8","command":"free -t -m | grep Total | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Total Memory","x":370.5,"y":1027.5,"wires":[["7255601c.48981"],[],[]]},{"id":"f7af59d5.211228","type":"ui_text","z":"69a1088f.965ef8","group":"62a7ca2e.9d5834","order":3,"width":"4","height":"1","name":"Free Memory","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":560.5,"y":946,"wires":[]},{"id":"7255601c.48981","type":"ui_text","z":"69a1088f.965ef8","group":"62a7ca2e.9d5834","order":4,"width":"4","height":"1","name":"Total Memory","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":569.5,"y":1015,"wires":[]},{"id":"71848bc6.a3fb24","type":"exec","z":"69a1088f.965ef8","command":"speedtest-cli | grep Download","addpay":false,"append":"","useSpawn":"","timer":"","name":"Download Speed","x":750.5,"y":1198.5,"wires":[["e42a1ed7.203e7","7dc796df.2699c8","1d7deae1.d86995"],[],[]]},{"id":"6146a6bd.905e78","type":"exec","z":"69a1088f.965ef8","command":"speedtest-cli | grep Upload","addpay":false,"append":"","useSpawn":"","timer":"","name":"Upload Speed","x":868.5,"y":1387.5,"wires":[["71b9f130.03555","1d7deae1.d86995"],[],[]]},{"id":"dbebefb4.6e515","type":"inject","z":"69a1088f.965ef8","name":"Internet Speed test every 15 minutes","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":178.5,"y":1177,"wires":[["f713734d.2fdd"]]},{"id":"e42a1ed7.203e7","type":"ui_text","z":"69a1088f.965ef8","group":"b71041eb.16b14","order":0,"width":"5","height":"1","name":"Download Speed","label":"","format":"{{msg.payload}}","layout":"row-left","x":1025.5,"y":1071,"wires":[]},{"id":"71b9f130.03555","type":"ui_text","z":"69a1088f.965ef8","group":"b71041eb.16b14","order":0,"width":"5","height":"1","name":"Upload Speed","label":"","format":"{{msg.payload}}","layout":"row-left","x":1027.5,"y":1147,"wires":[]},{"id":"bca17be0.2ee3f8","type":"delay","z":"69a1088f.965ef8","name":"Allow 2min Download calculation to complete","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":592.5,"y":1282,"wires":[["6146a6bd.905e78"]]},{"id":"ee52b6.66da1d48","type":"function","z":"69a1088f.965ef8","name":"Alert TEMP >= 75","func":"msg.topic=\"CMU ALERT: Pi core temp\" +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":952.5,"y":185,"wires":[["7e74d468.d947bc"]]},{"id":"126afc36.524f94","type":"inject","z":"69a1088f.965ef8","name":"test email","topic":"","payload":"71","payloadType":"num","repeat":"","crontab":"","once":false,"x":477.5,"y":254,"wires":[["57b5e688.6a9c28","425131b2.19c0a"]]},{"id":"425131b2.19c0a","type":"debug","z":"69a1088f.965ef8","name":"","active":false,"console":"false","complete":"false","x":702.5,"y":293,"wires":[]},{"id":"2b9c120f.90e4ce","type":"debug","z":"69a1088f.965ef8","name":"","active":false,"console":"false","complete":"false","x":956.5,"y":132,"wires":[]},{"id":"76942a.10b72bd8","type":"function","z":"69a1088f.965ef8","name":"Log connection establishment time","func":"\nvar dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\nvar m=\"Internet UP,\"+ts;\nmsg.logMsg=m;\n\n//var alreadyDown=global.get(\"alreadyDown\");\nvar alreadyUp=global.get(\"alreadyUp\")||\"NO\";\n\nif(alreadyUp==\"YES\"){\n    msg.payload=\"NO\"; //do not log\n}else{\n    msg.payload=\"YES\"; // log\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":678.5,"y":832,"wires":[["a4886a6f.e3d938"]]},{"id":"7dc796df.2699c8","type":"function","z":"69a1088f.965ef8","name":"send alerts if QoS drops <=1Mbps","func":"// if download speeds fell below 2 Mbits/s \n// send just one email alert and Ignore \n// sending same emails \n// if download speed is retuned to above 5 Mbit/s\n// send just one email alert and Ingore\n// sending same emails\n\nvar sValues = msg.payload.split(' ');\n//var dSpeed=parseFloat(sValues[1]);\n//msg.payload=dSpeed;\nvar speed=sValues[1];\n//msg.payload=speed;\n\nif(speed<=1.0){\n  msg.payload=\"SLOW\";\n}else{\n    if(speed>=8.0){\n        msg.payload=\"RESTORED\";\n    }else{\n        msg.payload=\"OK\";    \n    }\n    \n}\n//msg.payload=dSpeed;\nreturn msg;","outputs":1,"noerr":0,"x":924.5,"y":983,"wires":[["9c5b19c6.27d158"]]},{"id":"ba12d592.4d30b8","type":"inject","z":"69a1088f.965ef8","name":"Report Storage every 5 hours","topic":"","payload":"","payloadType":"date","repeat":"18000","crontab":"","once":false,"x":156.5,"y":1454,"wires":[["5b84a900.c68728","f46e9bdf.01a608","7b00d3cc.80c44c"]]},{"id":"5b84a900.c68728","type":"exec","z":"69a1088f.965ef8","command":"df | grep root | awk '{print $5}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Calculate on-board storage","x":471.5,"y":1586.5,"wires":[["fe56a988.ba18f8"],[],[]]},{"id":"f46e9bdf.01a608","type":"exec","z":"69a1088f.965ef8","command":"df | grep sda1 | awk '{print $5}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Caclulate external storage","x":468.5,"y":1671.5,"wires":[["25432408.3468ac"],[],[]]},{"id":"fe56a988.ba18f8","type":"function","z":"69a1088f.965ef8","name":"on-board bar","func":"msg.topic =\"On-board\";\nreturn msg;","outputs":1,"noerr":0,"x":692.5,"y":1553,"wires":[["8f695ea7.3b735"]]},{"id":"25432408.3468ac","type":"function","z":"69a1088f.965ef8","name":"external bar","func":"msg.topic=\"External\";\nreturn msg;","outputs":1,"noerr":0,"x":723.5,"y":1673,"wires":[["8f695ea7.3b735"]]},{"id":"8f695ea7.3b735","type":"ui_chart","z":"69a1088f.965ef8","name":"","group":"99f425ec.091f08","order":0,"width":"5","height":"4","label":"% Used","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"100","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":899.5,"y":1606,"wires":[[],[]]},{"id":"2b3ed02a.ef7a8","type":"function","z":"69a1088f.965ef8","name":"check internet status","func":"\nif(msg.payload===false){\n    msg.stat=\"false\";\n    msg.payload=-10;\n    \n    global.set(\"inetStatus\",\"DOWN\");\n}else{\n    msg.stat=\"true\";\n    global.set(\"inetStatus\",\"UP\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":279.5,"y":785,"wires":[["baaed33.967513"]]},{"id":"275fa389.68148c","type":"function","z":"69a1088f.965ef8","name":"check modem status","func":"msg.topic=\"Modem\";\nif(msg.payload===false){\n    msg.stat=\"false\";\n    msg.payload=0;\n}else{\n    msg.stat=\"true\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":294.5,"y":669,"wires":[["6fa68bf2.d48bb4"]]},{"id":"dcfec5c1.0471e8","type":"function","z":"69a1088f.965ef8","name":"check router status","func":"msg.topic=\"Router\";\nif(msg.payload===false){\n    msg.stat=\"false\";\n    msg.payload=0;\n}else{\n    msg.stat=\"true\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":272.5,"y":558,"wires":[["a03f708.c16589"]]},{"id":"3c0554f7.dd7dfc","type":"function","z":"69a1088f.965ef8","name":"check NVR status","func":"msg.topic=\"NVR\";\nif(msg.payload===false){\n    msg.stat=\"false\";\n    msg.payload=0;\n}else{\n    msg.stat=\"true\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":276.5,"y":469,"wires":[["9b831e8f.a6ef"]]},{"id":"abeccdad.456dc","type":"rpi-sensehat in","z":"69a1088f.965ef8","name":"HAT","motion":false,"env":true,"stick":false,"x":55,"y":2395,"wires":[["718ed9.72e97128","753360b4.98ae1"]]},{"id":"c9c2f30d.009df","type":"ui_gauge","z":"69a1088f.965ef8","name":"Humidity","group":"1028a306.127cad","order":2,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":568.5,"y":2538,"wires":[]},{"id":"6022cfde.38e7b","type":"ui_gauge","z":"69a1088f.965ef8","name":"Atmospheric Pressure","group":"1028a306.127cad","order":3,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"Millibars","format":"{{value}}","min":"760","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":531.5,"y":2607,"wires":[]},{"id":"d60b1c43.58f59","type":"function","z":"69a1088f.965ef8","name":"Rack Temp","func":"t=msg.payload[\"temperature\"];\nmsg.payload=t;\nglobal.set(\"rackTemp\",t);\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":2489,"wires":[["6334ca8c.fe6114","c99f8775.962988","18388aa3.eafc45"]]},{"id":"fd93b4f5.425c18","type":"function","z":"69a1088f.965ef8","name":"Rack Humidity","func":"t=msg.payload[\"humidity\"];\nmsg.payload=t;\nglobal.set(\"rackHumidity\",t);\nreturn msg;","outputs":1,"noerr":0,"x":330.5,"y":2539,"wires":[["c9c2f30d.009df","c99f8775.962988"]]},{"id":"9bc5d1e8.ef4a1","type":"function","z":"69a1088f.965ef8","name":"Rack Pressure","func":"t=msg.payload[\"pressure\"];\nmsg.payload=t;\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":2608,"wires":[["6022cfde.38e7b"]]},{"id":"6334ca8c.fe6114","type":"ui_chart","z":"69a1088f.965ef8","name":"","group":"1028a306.127cad","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":550.5,"y":2486,"wires":[[],[]]},{"id":"c6ea6db8.0a444","type":"http request","z":"69a1088f.965ef8","name":"Get Hyd Weather","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/weather?q=LOCATION,IN&APPID=YOURKEY&units=metric","tls":"","x":255.5,"y":2899,"wires":[["c8a5f2fe.3156f","3a290338.d9f12c","126a113a.8add9f","f79e72c1.c88b8"]]},{"id":"8a4ac378.acda1","type":"inject","z":"69a1088f.965ef8","name":"Get Hyd Weather every 2 hours","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"x":162.5,"y":2666,"wires":[["12eb3377.0d39dd"]]},{"id":"c8a5f2fe.3156f","type":"function","z":"69a1088f.965ef8","name":"Get temp","func":"//err=msg.payload.indexOf(\"Error\");\n\n//if(err==-1){ \nt=msg.payload.main.temp;\n\n//}else {\n  //  t=-10;\n//}\nmsg.payload=t;\nreturn msg;","outputs":1,"noerr":0,"x":464.5,"y":2781,"wires":[["4c742b62.f3ae84","d8505bd.5ef61a8"]]},{"id":"3a290338.d9f12c","type":"function","z":"69a1088f.965ef8","name":"Get Humidity","func":"//err=msg.payload.indexOf(\"Error\");\n\n//if(err==-1){ \n    h=msg.payload.main.humidity;\n    \n//}else{\n//    h=-1;\n//}\nmsg.payload=h;\nreturn msg;","outputs":1,"noerr":0,"x":473.5,"y":2874,"wires":[["873f659e.d5a068"]]},{"id":"126a113a.8add9f","type":"function","z":"69a1088f.965ef8","name":"Get Pressure","func":"//err=msg.payload.indexOf(\"Error\");\n\n//if(err==-1){ \n    p=msg.payload.main.pressure;\n//}else{\n//    p=-10;\n//}\nmsg.payload=p;\nreturn msg;","outputs":1,"noerr":0,"x":479.5,"y":2951,"wires":[["c8a74ba9.a923b8"]]},{"id":"4c742b62.f3ae84","type":"ui_chart","z":"69a1088f.965ef8","name":"","group":"5bc63860.bba628","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":675.5,"y":2779,"wires":[[],[]]},{"id":"ff365de8.5bcf4","type":"ui_text","z":"69a1088f.965ef8","group":"5bc63860.bba628","order":0,"width":0,"height":0,"name":"Summary","label":"","format":"{{msg.payload}}","layout":"row-left","x":733.5,"y":3028,"wires":[]},{"id":"f79e72c1.c88b8","type":"function","z":"69a1088f.965ef8","name":"Weather description","func":"var dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\n\n    d=msg.payload.weather[0].description;\n    c=msg.payload.clouds.all;\n    msg.payload= \"Cloud cover \"+c+\"% with \"+d+\" @ \"+ts;\n\nreturn msg;","outputs":1,"noerr":0,"x":495.5,"y":3031,"wires":[["ff365de8.5bcf4"]]},{"id":"718ed9.72e97128","type":"delay","z":"69a1088f.965ef8","name":"Delay of 5 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":140.5,"y":2535,"wires":[["d60b1c43.58f59","fd93b4f5.425c18","9bc5d1e8.ef4a1"]]},{"id":"873f659e.d5a068","type":"ui_gauge","z":"69a1088f.965ef8","name":"Humidity","group":"5bc63860.bba628","order":0,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":726.5,"y":2865,"wires":[]},{"id":"c8a74ba9.a923b8","type":"ui_gauge","z":"69a1088f.965ef8","name":"Pressure","group":"5bc63860.bba628","order":0,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":"760","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710.5,"y":2956,"wires":[]},{"id":"260e4863.8ad108","type":"ui_chart","z":"69a1088f.965ef8","name":"","group":"458e4367.6ddacc","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#ffff00","#ffffff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":551.5,"y":479,"wires":[[],[]]},{"id":"7b00d3cc.80c44c","type":"exec","z":"69a1088f.965ef8","command":"echo 30","addpay":false,"append":"","useSpawn":"","timer":"","name":"Calculate dropbox storage","x":478.5,"y":1742.5,"wires":[["3f1e29d2.ca9236"],[],[]]},{"id":"3f1e29d2.ca9236","type":"function","z":"69a1088f.965ef8","name":"Cloud bar","func":"msg.topic=\"Cloud\"\nreturn msg;","outputs":1,"noerr":0,"x":708.5,"y":1742,"wires":[["8f695ea7.3b735"]]},{"id":"719be912.46f298","type":"rpi-sensehat out","z":"69a1088f.965ef8","name":"No Internet","x":779.5,"y":610,"wires":[]},{"id":"3e64f282.bc7e8e","type":"function","z":"69a1088f.965ef8","name":"Display msg","func":"msg.payload=\"Oh no! No Internet\"\nreturn msg;","outputs":1,"noerr":0,"x":596.5,"y":644,"wires":[["719be912.46f298"]]},{"id":"f713734d.2fdd","type":"function","z":"69a1088f.965ef8","name":"Check internet","func":"var internetStatus=global.get(\"inetStatus\");\nif(internetStatus==\"DOWN\"){\n    msg.payload=\"DOWN\";\n}else{\n    msg.payload=\"UP\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":471.5,"y":1117,"wires":[["d57dc8b2.924858"]]},{"id":"d57dc8b2.924858","type":"switch","z":"69a1088f.965ef8","name":"DOWN/UP","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"UP","vt":"str"}],"checkall":"true","outputs":2,"x":517.5,"y":1202,"wires":[["aad6853c.6214d8"],["71848bc6.a3fb24","bca17be0.2ee3f8"]]},{"id":"12eb3377.0d39dd","type":"function","z":"69a1088f.965ef8","name":"check internet","func":"var internetStatus=global.get(\"inetStatus\");\nif(internetStatus==\"DOWN\"){\n    msg.payload=\"DOWN\";\n}else{\n    msg.payload=\"UP\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":169.5,"y":2773,"wires":[["6291c6e2.c91348"]]},{"id":"6291c6e2.c91348","type":"switch","z":"69a1088f.965ef8","name":"DOWN/UP","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"UP","vt":"str"}],"checkall":"true","outputs":2,"x":447.5,"y":2687,"wires":[["33c789c9.97a266"],["c6ea6db8.0a444"]]},{"id":"33c789c9.97a266","type":"function","z":"69a1088f.965ef8","name":"set down msg","func":"// get global.down.timestamp\n// msg.payload=\"Internet is DOWN since \"+down.timestamp;\n\nmsg.payload=\"Internet Down!\";\nreturn msg;","outputs":1,"noerr":0,"x":761.5,"y":2716,"wires":[["ff365de8.5bcf4"]]},{"id":"aad6853c.6214d8","type":"function","z":"69a1088f.965ef8","name":"set down msg","func":"// get global.down.timestamp\n// msg.payload=\"Internet is DOWN since \"+down.timestamp;\n\nmsg.payload=\"Internet is DOWN!\";\n\nreturn msg;","outputs":1,"noerr":0,"x":773.5,"y":1094,"wires":[["e42a1ed7.203e7","71b9f130.03555"]]},{"id":"587e6eec.93175","type":"file","z":"69a1088f.965ef8","name":"pi-temp-volts","filename":"/home/pi/cmu-logs/pi-temp-volts.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1418.5,"y":304,"wires":[]},{"id":"943d6110.6f6b9","type":"function","z":"69a1088f.965ef8","name":"make log msg","func":"var pt=global.get('piTemp');\nvar pv=global.get('piVolts');\n\nvar dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\n\nvar m=\"pi,\"+ts+\",\"+pt+\",\"+pv;\nmsg.payload=m;\nreturn msg;","outputs":1,"noerr":0,"x":1051.5,"y":303,"wires":[["90296e7.f6fd69","587e6eec.93175"]]},{"id":"3693252a.6981ca","type":"join","z":"69a1088f.965ef8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":":","timeout":"","count":"1000","x":863.5,"y":327,"wires":[["943d6110.6f6b9"]]},{"id":"b470ee43.8a636","type":"file","z":"69a1088f.965ef8","name":"nvr-router-modem-DOWN","filename":"/home/pi/cmu-logs/nvr-router-modem-DOWN.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1390.5,"y":504,"wires":[]},{"id":"9de69851.bbf0a8","type":"function","z":"69a1088f.965ef8","name":"set log statement","func":"var dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\n\nvar m=ts+\",\"+msg.topic;\nmsg.payload=m;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":842.5,"y":496,"wires":[["b470ee43.8a636"]]},{"id":"b2a90a68.846b18","type":"switch","z":"69a1088f.965ef8","name":"YES/NO","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"},{"t":"eq","v":"NO","vt":"str"}],"checkall":"true","outputs":2,"x":948.5,"y":766,"wires":[["d62381af.3b004"],[]]},{"id":"d62381af.3b004","type":"function","z":"69a1088f.965ef8","name":"set log statement","func":"msg.payload=msg.logMsg;\nmsg.topic=msg.logMsg;\nglobal.set(\"alreadyDown\",\"YES\");\nglobal.set(\"alreadyUp\",\"NO\");\nreturn msg;","outputs":1,"noerr":0,"x":1156.5,"y":761,"wires":[["e0efe680.8e6f38","b21a1746.9dd398","7e74d468.d947bc"]]},{"id":"e0efe680.8e6f38","type":"file","z":"69a1088f.965ef8","name":"internet-up-down","filename":"/home/pi/cmu-logs/internet-up-down.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1404.5,"y":804,"wires":[]},{"id":"a4886a6f.e3d938","type":"switch","z":"69a1088f.965ef8","name":"YES/NO","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"},{"t":"eq","v":"NO","vt":"str"}],"checkall":"true","outputs":2,"x":948.5,"y":830,"wires":[["4c2fb55b.80239c"],[]]},{"id":"4c2fb55b.80239c","type":"function","z":"69a1088f.965ef8","name":"set log statement","func":"msg.payload=msg.logMsg;\nmsg.topic=msg.logMsg;\nglobal.set(\"alreadyDown\",\"NO\");\nglobal.set(\"alreadyUp\",\"YES\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1148.5,"y":823,"wires":[["e0efe680.8e6f38","b21a1746.9dd398","7e74d468.d947bc"]]},{"id":"cfa57f34.7327","type":"file","z":"69a1088f.965ef8","name":"rack-temp-humidity","filename":"/home/pi/cmu-logs/rack-temp-humidity.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1243.5,"y":2495,"wires":[]},{"id":"c99f8775.962988","type":"join","z":"69a1088f.965ef8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":":","timeout":"","count":"20","x":824.5,"y":2496,"wires":[["cae57a36.ce9488"]]},{"id":"cae57a36.ce9488","type":"function","z":"69a1088f.965ef8","name":"make log msg","func":"var rt=global.get('rackTemp');\nvar rh=global.get('rackHumidity');\n\nvar dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\n\nvar m=\"rack,\"+ts+\",\"+rt+\",\"+rh;\nmsg.payload=m;\nreturn msg;\n","outputs":1,"noerr":0,"x":999.5,"y":2495,"wires":[["cfa57f34.7327","b44cf569.00bbe8"]]},{"id":"b44cf569.00bbe8","type":"debug","z":"69a1088f.965ef8","name":"","active":false,"console":"false","complete":"false","x":1177.5,"y":2369,"wires":[]},{"id":"a4815d88.55f68","type":"file","z":"69a1088f.965ef8","name":"internet-download-upload-speed","filename":"/home/pi/cmu-logs/internet-download-upload-speed.log","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1471.5,"y":1247,"wires":[]},{"id":"1d7deae1.d86995","type":"function","z":"69a1088f.965ef8","name":"set log statement","func":"var dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\nvar m=ts+\",\"+msg.payload;\nmsg.payload=m;\nreturn msg;","outputs":1,"noerr":0,"x":1208.5,"y":1250,"wires":[["a4815d88.55f68"]]},{"id":"b21a1746.9dd398","type":"ui_text","z":"69a1088f.965ef8","group":"b71041eb.16b14","order":0,"width":0,"height":0,"name":"Internet Status","label":"","format":"{{msg.payload}}","layout":"row-left","x":1415.5,"y":741,"wires":[]},{"id":"b61a9261.7f69d","type":"inject","z":"69a1088f.965ef8","name":"Move logs to HDD every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":159.5,"y":3111,"wires":[["845b3c29.eee2b"]]},{"id":"845b3c29.eee2b","type":"exec","z":"69a1088f.965ef8","command":"/mv-logs.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"move logs","x":439.5,"y":3110.5,"wires":[[],[],[]]},{"id":"753360b4.98ae1","type":"debug","z":"69a1088f.965ef8","name":"","active":false,"console":"false","complete":"false","x":257.5,"y":2338,"wires":[]},{"id":"9c5b19c6.27d158","type":"switch","z":"69a1088f.965ef8","name":"SLOW/OK/RESTORED","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SLOW","vt":"str"},{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"RESTORED","vt":"str"}],"checkall":"false","outputs":3,"x":1239.5,"y":972,"wires":[["2a2696bc.86472a"],[],["77a75d81.f80804"]]},{"id":"2a2696bc.86472a","type":"function","z":"69a1088f.965ef8","name":"set SLOW msg","func":"msg.payload=\"Slow Internet <=1 Mbit/s\";\nreturn msg;","outputs":1,"noerr":0,"x":1434.5,"y":902,"wires":[["61f15fb5.a6dfc"]]},{"id":"61f15fb5.a6dfc","type":"debug","z":"69a1088f.965ef8","name":"","active":true,"console":"false","complete":"false","x":1643.5,"y":881,"wires":[]},{"id":"77a75d81.f80804","type":"function","z":"69a1088f.965ef8","name":"set RESTORED msg","func":"msg.payload=\"Internet Restored to >=8Mbit/s\"\nreturn msg;","outputs":1,"noerr":0,"x":1479.5,"y":1001,"wires":[["61f15fb5.a6dfc"]]},{"id":"301243f3.4a770c","type":"exec","z":"69a1088f.965ef8","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"TEMP >= 80 SHUTDOWN!!","x":946.5,"y":244.5,"wires":[[],[],[]]},{"id":"f1bbbb40.3bc108","type":"ui_chart","z":"69a1088f.965ef8","name":"Thermo Comparison","group":"8087bef4.dfd79","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1115.5,"y":574,"wires":[[],[]]},{"id":"2a3128d2.ff0c98","type":"function","z":"69a1088f.965ef8","name":"Pi Series","func":"msg.topic=\"Pi\";\nreturn msg;","outputs":1,"noerr":0,"x":943.5,"y":543,"wires":[["f1bbbb40.3bc108"]]},{"id":"18388aa3.eafc45","type":"function","z":"69a1088f.965ef8","name":"Rack Series","func":"msg.topic=\"Rack\";\nreturn msg;","outputs":1,"noerr":0,"x":969.5,"y":644,"wires":[["f1bbbb40.3bc108"]]},{"id":"d8505bd.5ef61a8","type":"function","z":"69a1088f.965ef8","name":"Weather Series","func":"msg.topic=\"Weather\";\nreturn msg;","outputs":1,"noerr":0,"x":1041.5,"y":710,"wires":[["f1bbbb40.3bc108"]]},{"id":"b5bd9a5f.0c11c8","type":"comment","z":"69a1088f.965ef8","name":"Admin functions","info":"Administrative functionality \nalways keep this at the end","x":85,"y":3887,"wires":[]},{"id":"cb4d1ab5.2776d8","type":"ui_button","z":"69a1088f.965ef8","name":"RestartVPN","group":"321aa5b5.88107a","order":0,"width":0,"height":0,"passthru":false,"label":"Restart OpenVPN","color":"","bgcolor":"","icon":"","payload":"Are you sure to Restart VPN? All existing connections will be disconnected!","payloadType":"str","topic":"","x":248.5,"y":3933,"wires":[["e81af31d.782c3"]]},{"id":"d8bd438a.cf905","type":"ui_button","z":"69a1088f.965ef8","name":"RestartPi","group":"321aa5b5.88107a","order":0,"width":0,"height":0,"passthru":false,"label":"Restart Pi","color":"","bgcolor":"#b2b200","icon":"","payload":"Are you sure to Restart the Pi? All existing connections will be disconnected!","payloadType":"str","topic":"","x":239.5,"y":3996,"wires":[["f4d968cd.530fd8"]]},{"id":"1355f24f.5e341e","type":"exec","z":"69a1088f.965ef8","command":"sudo /home/pi/cmu/fixopenvpn.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"RestartOpenVPNScript","x":962.5,"y":3915.5,"wires":[[],[],[]]},{"id":"6c503f23.a1dfe","type":"exec","z":"69a1088f.965ef8","command":"sudo restart now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Restart Pi","x":919.5,"y":3995.5,"wires":[[],[],[]]},{"id":"e81af31d.782c3","type":"ui_toast","z":"69a1088f.965ef8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"okCancelRestartVPN","x":471.5,"y":3932,"wires":[["87429105.0c93a","5553c09b.eb323"]]},{"id":"f4d968cd.530fd8","type":"ui_toast","z":"69a1088f.965ef8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"okCancelRestartPi","x":445.5,"y":3997,"wires":[["29db5cb9.75de54"]]},{"id":"87429105.0c93a","type":"debug","z":"69a1088f.965ef8","name":"","active":false,"console":"false","complete":"false","x":628.5,"y":3879,"wires":[]},{"id":"5553c09b.eb323","type":"switch","z":"69a1088f.965ef8","name":"okCancel","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"false","outputs":2,"x":706.5,"y":3932,"wires":[["1355f24f.5e341e","a9482d31.cfda2"],[]]},{"id":"29db5cb9.75de54","type":"switch","z":"69a1088f.965ef8","name":"okCancelpi","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"false","outputs":2,"x":693.5,"y":3996,"wires":[["6c503f23.a1dfe","8eb664ca.43ef58"],[]]},{"id":"da5474c4.cdef68","type":"ui_button","z":"69a1088f.965ef8","name":"ShutdownPi","group":"321aa5b5.88107a","order":0,"width":0,"height":0,"passthru":false,"label":"Shutdown Pi","color":"","bgcolor":"#730000","icon":"","payload":"Are you sure to Shutdown the Pi? All existing connections will be disconnected!","payloadType":"str","topic":"","x":249.5,"y":4061,"wires":[["8c45db24.a8d0e8"]]},{"id":"8c45db24.a8d0e8","type":"ui_toast","z":"69a1088f.965ef8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"okCancelShutdownPi","x":462.5,"y":4064,"wires":[["37a58905.5c98f6"]]},{"id":"37a58905.5c98f6","type":"switch","z":"69a1088f.965ef8","name":"okCancel Shutdown pi","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"false","outputs":2,"x":725.5,"y":4074,"wires":[["a258423a.8e345","4d520751.d4c888"],[]]},{"id":"a258423a.8e345","type":"exec","z":"69a1088f.965ef8","command":"sudo shutdown now","addpay":false,"append":"","useSpawn":"","timer":"","name":"shutdownpi","x":939.5,"y":4082.5,"wires":[[],[],[]]},{"id":"7e0edd4f.f1aaa4","type":"file","z":"69a1088f.965ef8","name":"adminAuditLog","filename":"/home/pi/cmu-logs/admin-audit.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1046.5,"y":4271,"wires":[]},{"id":"a9482d31.cfda2","type":"function","z":"69a1088f.965ef8","name":"Restart VPN log msg","func":"var dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\n\nvar m=ts+\",restartVPN\";\nmsg.payload=m;\nreturn msg;","outputs":1,"noerr":0,"x":765.5,"y":4172,"wires":[["7e0edd4f.f1aaa4"]]},{"id":"8eb664ca.43ef58","type":"function","z":"69a1088f.965ef8","name":"Restart Pi","func":"var dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\n\nvar m=ts+\",restarPi\";\nmsg.payload=m;\nreturn msg;\n","outputs":1,"noerr":0,"x":728.5,"y":4253,"wires":[["7e0edd4f.f1aaa4"]]},{"id":"4d520751.d4c888","type":"function","z":"69a1088f.965ef8","name":"ShutdownPi","func":"var dt=new Date();\nvar date=dt.getDate();\nvar month=dt.getMonth()+1;\nvar year=dt.getFullYear();\nvar hours=dt.getHours();\nvar minutes=dt.getMinutes();\n\nvar ts=date+\"-\"+month+\"-\"+year+\" \"+hours+\":\"+minutes;\n\nvar m=ts+\",shutdownPi\";\nmsg.payload=m;\nreturn msg;","outputs":1,"noerr":0,"x":739.5,"y":4343,"wires":[["7e0edd4f.f1aaa4"]]},{"id":"c40dd078.70e1c","type":"inject","z":"69a1088f.965ef8","name":"DropBox Clean up once every day","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":166.5,"y":3426,"wires":[["8be14247.c3cc"]]},{"id":"8be14247.c3cc","type":"exec","z":"69a1088f.965ef8","command":"/CleanupDropbox.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"Cleanup script","x":498.5,"y":3433.5,"wires":[[],[],[]]},{"id":"62a7ca2e.9d5834","type":"ui_group","z":"","name":"Pi Stats","tab":"5face71c.0dd418","order":3,"disp":true,"width":"6"},{"id":"b71041eb.16b14","type":"ui_group","z":"","name":"Internet Stats","tab":"5face71c.0dd418","order":1,"disp":true,"width":"6"},{"id":"99f425ec.091f08","type":"ui_group","z":"","name":"Central Storage","tab":"5face71c.0dd418","order":6,"disp":true,"width":"6"},{"id":"1028a306.127cad","type":"ui_group","z":"","name":"Rack Stats (SenseHAT)","tab":"5face71c.0dd418","order":4,"disp":true,"width":"6"},{"id":"5bc63860.bba628","type":"ui_group","z":"","name":"Weather (OpenWeatherMap)","tab":"5face71c.0dd418","order":5,"disp":true,"width":"6"},{"id":"458e4367.6ddacc","type":"ui_group","z":"","name":"Intranet Stats","tab":"5face71c.0dd418","order":2,"disp":true,"width":"6"},{"id":"8087bef4.dfd79","type":"ui_group","z":"","name":"Thermo Comparison","tab":"5face71c.0dd418","disp":true,"width":"6"},{"id":"321aa5b5.88107a","type":"ui_group","z":"","name":"Administration","tab":"a3f9bb06.1a4968","disp":true,"width":"6"},{"id":"5face71c.0dd418","type":"ui_tab","z":"","name":"CMU","icon":"dashboard","order":1},{"id":"a3f9bb06.1a4968","type":"ui_tab","z":"","name":"Others","icon":"dashboard","order":2}]
